html {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll; overflow-x:hidden;
}
.hidden {
  visibility: hidden;
  display: none;
}

body {
  margin: 0;
}

body #content {
  margin: 2rem;
}

.error {
  color: red;
}

button, input[type="submit"], input[type="button"] {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(0, 0, 0, .87);
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 0 2px 3px;
}

button[disabled="disabled"], input[type="submit"][disabled="disabled"], input[type="button"][disabled="disabled"] {
  background: #dcdcdc;
  box-shadow: none;
  cursor: default;
}

input[type="text"], input[type="password"], select, textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(220, 220, 220, 0.87);
  box-sizing: border-box;
  width: 180px;
}

input[type="text"]:hover, input[type="password"]:hover, select:hover, textarea:hover {
  border: 1px solid black;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  border: 1px solid #001824;
  outline: none;
}

.button-secondary {
  font-size: 0.9rem;
  border: 1px solid #1b3c4c;
  border-radius: 10px;
  padding: 0.5rem;
  color: #1b3c4c;
  margin: 0.5rem;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
}
.button-secondary:hover {
  background: #eeeeee;
}

.productlines {
  display: flex;
  flex-wrap: wrap;
}
.productline--container {
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.5rem;
  max-width: 600px;
  min-height: 200px;
  display: inline-flex;
  flex-direction: column;
}
.productline--title {
  background: #1b3c4c;
  color: white;
  padding: 0.5rem;
}
.productline--description {
  padding: 0.5rem;
  text-align: justify;
  height: 100%;
}
.productline--container .button-secondary {
  align-self: end;
}
