.search-container {
    display: inline-flex;
    position: relative;
    border: 0 transparent;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 50px;
    background: white;
}
.menu form {
    display: contents;
}
.searchIcon {
    padding: 0.3rem;
}
input[type=text] {
    width: 300px;
    padding: 5px 20px;
    border: 0 transparent;
    flex: 1;
}
input[type=text]:hover {
    box-shadow: none;
    border: 0 transparent;
}
input[type=text]:focus {
    outline: none !important;
    box-shadow: none;
    border-color: transparent;
}
.search-results {
    position: absolute;
    width: 300px;
    top: 130px;
    box-shadow: 0px 0px 5px 1px #2a2a2a;
    padding: 0.2rem;
    background: white;
    border-radius: 5px;
}
.search-results table {
    width:100%
}
.search-results table th {
    text-align: left;
    font-weight: normal;
    padding: 0.5rem;
}
.result {
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
}
.result:hover {
    background: #f3f3f3;
}
.result .name {
    color: #1b3c4c;
    font-size: 1.2rem;
}
.result .sub_title {
    color: #1b3c4c;
}
.result .employee {
    color: #2a2a2a;
    font-size: 0.7rem;
}
